
#menu li a:hover{

  background-color:#F00;
    z-index:1;

}


@media only screen and (min-width:400px) {
    /* tablets */
  body{background-color:lightgrey;}
     #menu{
  margin:5 auto 0;
  font-size:17px;
  font-style:normal;
  display:inline-block;}
  #wrap {
   width:90%;
   margin:5px 5px 5px 5px auto;
   background-color:lightyellow;
   /*border:2px solid red;*/}

   img {
    margin: 1px 20px 15px 10px;
    border: 0 solid #ccc;
    float: left;
    width: 250px;}
    p{font-size: 14px;}
}

@media only screen and (min-width: 1000px) {  
  /* desktop */
  body{background-color:lightgrey;}
  
    #menu{
  margin:1px 20px 15px 10px auto 0;
  font-size:22px;
  font-style:normal;
  display:inline-block;}
    #wrap {
   width:900px;
    margin:0 auto;
   padding:10;
   background-color:lightyellow;
   /*border:2px solid red;*/}
   img {
    margin: 1px 20px 15px 10px;
    border: 0 solid #ccc;
    float: left;
    width: 300px;}
   p{font-size: 16px;}
}

@media only screen and (max-width: 400px) {
    /* phones */
  body{background-color:lightyellow;}
    #menu{
  margin:10 auto 0;
  font-size:14px;
  font-style:normal;
  display:inline-block;}
  #wrap {
   width:100%;
   margin:0 auto;
   /*border:2px solid red;*/}
   img {
    margin: 1px 20px 15px 10px;
    border: 0 solid #ccc;
    float: left;
    width: 150px;}
    p{font-size: 12px;}
    
}

#left_col {
   float:left;
   border:5px solid blue;
   width:50%;
 display:inline-block;
 background-color: #ffffcc;


}

nav ul{
  list-style: none;
}

nav li{
  display:inline-block;
}